.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0b1426;
    color: #1199fa;
    padding: 20px;
  }
  .nav-left{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 8px;
  }
  .nav-item{
      padding-left: 15px;
  }
  .nav-right{
      margin-right: 8px;
  }
  .coin-search{
      border: none;
      border-radius: 5px;
      text-align: center;
      background-color: #6c838b;
      outline: none;
      height: 24px;
      margin-right: 5px;
      color: white;
  }
  .icon{
      border: none;
      background-color: #06283D;
      color: white;
  }